@import "tailwindcss";

@layer utilities {
  .animate-spin-fast {
    animation: spin 1s linear infinite; /* 0.5 seconds per rotation = faster */
  }
}


body, html {

  user-select: none;        /* disables text selection on drag */
  -webkit-user-drag: none;  /* disables dragging images/elements on Safari */
  touch-action: none;       /* disables touch gestures like pan/zoom */
  overscroll-behavior: none;
}

@keyframes border-spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

/* Custom class to apply the glowing border effect */
.glowing-border-animation {
  background-image: conic-gradient(from 0deg, transparent 0%, transparent 25%, #2563eb 50%, transparent 75%, transparent 100%);
  animation: border-spin 3s linear infinite; /* Adjust '3s' for desired speed */
}
